<div class="container-fluid" id="medicationForm">
	<div class="row">
		<form class="form-inline col-md-11">
			<input class="form-control textInput col-md-5 offset-md-4" type="search" placeholder="Search" [(ngModel)]="user.medications"  aria-label="Search">
			<button class="btn btn-outline-success" (click)="searchMedicine(user.medications)" type="submit">Find</button>
		</form>
	</div>
</div>