<div class="container-fluid" id="loginForm">
  <div class="row justify-content-md-center" >
    <div class="col-md-5 justify-content-md-center jumbotron" id="submitForm">
      <form (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="username" id="textLabel">Mobile Number</label>
          <input name="username" [(ngModel)]="user.username"  type="text" class="form-control form-control-lg textInput" id="username" aria-describedby="mobileHelp" placeholder="Enter mobile number">
          <small id="mobileHelp" class="form-text text-muted">We'll never share your mobile number with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password" id="textLabel">Password</label>
          <input name="password" [(ngModel)]="user.password" type="password" class="form-control textInput" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="medications" id="textLabel">Medications</label>
          <textarea name="medications"  [(ngModel)]="user.medications" class="form-control textInput" rows="5" id="medications" aria-describedby="medicationText" placeholder="Enter medications"></textarea>
           <small id="medicationText" class="form-text text-muted">If there are multiple medications, separate with comma</small>
        </div>
        <button type="submit" class="btn btn-default">Sign In</button>
      </form>
    </div>
  </div>
</div>