<div class="container-fluid" id="welcomeText">
	<div class="row">
		<div class="col-md-5 offset-md-3 jumbotron">
			<h4 id="textHeader">Contact Us</h4>
			<h6>How can we help?</h6>
			<p>Cardihab is based in Brisbane, Australia. We'd be delighted to discuss how we can assist you in person or online.</p>
			<a href="https://cardihab.com/contact/" class="btn btn-primary">Contact</a>
		</div>
		<div class="jumbotron" id="block1">
		</div>
	</div>
</div>
