<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col-md-6 justify-content-md-center">
			<h1 id="headerLogo">CARDIHAB</h1>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" routerLink="/home" routerLinkActive="active">HOME<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" routerLink="/contact">CONTACT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  *ngIf="isLoggedIn();else userShowMedication" routerLink="/medication">MEDICATION</a>
							<ng-template #userShowMedication></ng-template>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0 offset-md-3">
						<a class="nav-link my-2 my-md-0"  *ngIf="isLoggedOut();else userIsLoggedIn" routerLink="/login">LOGIN</a>
						<ng-template #userIsLoggedIn>
							<button id="logoutButton" class="btn btn-outline-success my-2 my-md-0" (click)="logout" type="button">LOGOUT</button>
						</ng-template>
					</form>
					
				</div>
			</nav>
		</div>
	</div>
	<footer>
	<div class="footer-copyright text-center py-3">Information listed can be found in
      <a href="https://cardihab.com/"> Cardihab</a>
    </div>
</footer>
</div>
<router-outlet></router-outlet>
