
#welcomeText {
	padding: 2vh;
	margin: 2vh;
	font-family: 'Dosis', sans-serif;
}

#verticalCard {
	line-height: 4vh;
}

#block1 {
	margin-left: 2vh;
	padding: 2vh;
	background: #5886af;
}

#block2 {
	margin-right: 2vh;
	padding: 2vh;
	background: #5886af;
}
