<div class="container-fluid" id="welcomeText">
	<div class="row">
		<div class="col-md-3 offset-md-3 jumbotron">
			<h4 id="textHeader">What is Cardihab?</h4>
			<p>A digital health company that exists to help patients reach optimal health when at risk of, or living with, heart disease.</p>
		</div>
		<div class="col-md-3 jumbotron" id="block1"></div>
	</div>
	<div class="row">
		<div class="col-md-3 offset-md-3 jumbotron" id="block2"></div>
		<div class="col-md-3 jumbotron" id="verticalCard">
			<h4 id="textHeader">History of Cardihab</h4>
			<p>Cardihab Pty Ltd is a spinoff company from Australia’s leading publicly funded science organisation, the Commonwealth Science &amp; industrial Research Organisation (CSIRO). Cardihab was incorporated in February 2016 as the commercialisation vehicle for mobile health (m-health) research at the Australian E-Health Research Centre (AEHRC) - a joint venture between CSIRO and Queensland Health.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 offset-md-3 jumbotron">
			<h4 id="textHeader">What is Digital Cardiac Rehab?</h4>
			<p>Deliver more convenient and flexible cardiac rehab with our patient smartphone apps and clinician portal. Cardihab's Digital Cardiac Rehabilitation (DCR) solution complements traditional, face-to-face delivery while also supporting a scientifically validated remote delivery model.</p>
		</div>
		<div class="col-md-3 jumbotron" id="block1"></div>
	</div>
</div>