/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'app/welcome/welcome.component.css';
@import 'app/login/login.component.css';
@import 'app/contact/contact.component.css';
@import 'app/medication/medication.component.css';
@import url('https://fonts.googleapis.com/css?family=Wire+One|Playfair+Display|Dosis|Poiret+One|Rajdhani|Iceland');


#textHeader {
	font-family: 'Playfair Display', serif;
	letter-spacing: 1px;
}

#textLabel {
	font-family: 'Dosis', sans-serif;
}

.textInput {
	font-family: 'Iceland', cursive;
}
